* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: block;
    width: 100%;
    overflow: hidden;
    background-color: teal;
    height: 50px;
}

nav {
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;
    font-weight: bold;
    font-size: 1.25em;
    align-items: center;
    justify-content: space-around;
}

img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

article {
    display: flex;
    background: orange;
    width: 75%;
    flex-direction: column;
    align-items: center;
    border: solid;
    margin: 5px;
}

aside {
    position: absolute;
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    font-style: italic;
    background-color: lightgray;
    right: 0.5em;
    top: 25em;
    }
footer {
    display: flex;
    justify-content: center;
    font-size: 0.75em;
}

p {
    font-family: 'Roboto', sans-serif;
}

p.caption {
    font-style: italic;
    font-size: 0.75em;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: none;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    display: block;
    margin: 1rem;
}

input {
    border-radius: 5px;
    display: inline;
}

input:focus {
    outline: none;
    background-color: #FFDEAD;
}

textarea:focus {
    outline: none;
    background-color: #FFDEAD;
}

fieldset {
    border: none;
}

textarea {
    position: relative;
    margin-left: 8.5em;
}

input[type="submit"] {
    width: 50%;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
}
