    body {
        background-color: teal;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
    }
    article {
        background: orange;
        border-style: dashed;
        width: 50%;
        margin-left: 25%;
    }
    aside {
        width: 30%;
        padding-left: 15px;
        margin-left: 15px;
        float: right;
        font-style: italic;
        background-color: lightgray;
        }
    footer {
        font-size: 0.65em;
    }
    figcaption {
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: lightgray;
        width: 19%;
    }
    body.about-me {
        background-color: MediumPurple;
    }
    .bold {
        font-size: 12px;
        font-style: oblique;
        font-variant: small-caps;
        font-weight: bold;
        transition: all 4s ease-in;
    }
    nav:hover {
        font-size: 2em;
    }
    nav {
        transition: font-size 5s ease-in 2s;
    }
    h2:hover {
        font-weight: normal;
    }
    .first-project a:hover {
        color: yellow;
    }
    .first-project ol li:nth-child(odd) {
        background: orange;
    }
    article.important {
        background: green;
        border-style: double;
        border-color: dimgrey;
        border-width: 3px;
    }

    p.bold:hover {
        border: 3px solid red;
        font-size: 2em;
    }
