    body {
        background-color: teal;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
    }
    article {
        background: orange;
        border-style: dashed;
        width: 50%;
        margin-left: 25%;
    }
    aside {
        width: 30%;
        padding-left: 15px;
        margin-left: 15px;
        float: right;
        font-style: italic;
        background-color: lightgray;
        }
    footer {
        font-size: 0.65em;
    }
    figcaption {
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: lightgray;
        width: 19%;
    }
    body.about-me {
        background-color: MediumPurple;
    }
    article.important {
        background: green;
        border-style: double;
        border-color: dimgrey;
        border-width: 3px;
    }
    #bold {
        font-size: 12px;
        font-style: oblique;
        font-variant: small-caps;
        font-weight: bold;
    }
    #bold:hover {
        background-color: white;
    }
    h2:hover {
        font-weight: normal;
    }
